html {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding-bottom: 1em;
}

.picture-card {
  background-color: rgba(240, 195, 140, 0.7);
  border-radius: 4ch;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 26rem;
  box-shadow: 0 .2rem 1rem rgba(0, 1, 0, 1);

}

.small-card {
  background-color: rgba(255, 182, 93, 0.864);
  border-radius: 4ch;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 4rem;

}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  text-shadow: 2px 2px black;
  max-width: 100%;
  max-width: 100%;
}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.kindle-card {
  max-width: 100%;
  max-height: 50%;
  height: 60%;
  /* object-fit: cover; */
}

.button-font {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.793);
  background-color: rgb(255, 207, 104);
  border: 3px solid #bc9100;

}

picture {
  display: grid;
  place-items: center;
  vertical-align: middle;
}

nav {
  border-radius: 20px 20px 20px 20px;
  margin-top: 3px;
  margin-left: 7px;
  margin-right: 7px;
  box-shadow: 0 .2rem .5rem rgba(0, 1, 0, .5);

}

.special {
  padding-top: 5rem;
}

.light_padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.profile_circle {
  border-radius: 100ch;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: right;
  align-items: right;
  border: 3px solid #ffc507e0;
}

.special_nav {
  flex-direction: row-reverse
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.center_card_text {
  text-align: center;
}

.main-bg {
  background-image: url("../public/mountain.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(1px); */
  /* opacity: 0.8; */
}

.intro-bg {
  /* Sizing */
  background-image: url("https://wallpaperaccess.com/full/1081641.jpg");
  width: 100vw;
  height: 100vh;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  object-fit: cover;
  opacity: 0.6;
  /* filter: blur(1px); */
}

.event-bg {
  /* Sizing */
  background-image: url("https://images.unsplash.com/photo-1518023176010-e14eb57eecf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  width: 100vw;
  height: 100vh;
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.8;
  /* filter: blur(1px); */
}

.activity-bg {
  /* Sizing */
  background-image: url("https://images.pexels.com/photos/2397651/pexels-photo-2397651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  width: 100vw;
  height: 100vh;
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.8;
  /* filter: blur(1px); */
}

.over-bg {
  z-index: 10
}

.padding_bottom {
  padding-bottom: 2rem;
}

.padding-top {
  padding-top: 5%;
}

.home-div {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}

.font {
  font-family: 'Merriweather', serif;
}

.hero-text {
  font-size: 80px;
}

.hero-sub-text {
  font-size: 50px;

}

.hero-bottom {
  position: fixed;
  left: 50%;
  bottom: -12px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.crop-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.align-right {
  margin-right: auto;
  display: flex;
  justify-content: right;
}

.right {
  display: grid;
  justify-content: right;
}

.border {
  border-radius: 2ch;
}

.activeList {
  display: inline-flex;
  flex-direction: column;
  height: 2rem;
  flex-wrap: wrap;
}

.item {
  padding: 0 4px;
}

.box_bg {
  background-color: #000000bd;
  border-radius: 1.9ch;
}

.center {
  display: grid;
  justify-content: center;
  color: white;
}

.activities-bg {
  background-image: url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(1px); */
  /* opacity: 0.8; */
}

.background-opacity {
  background-color: rgba(255, 255, 255, 0.887);
}

.tiny-card {
  width: 80%;
  height: 80%;
  border-radius: 1.9ch;
}

.pointer2 {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.padding-top-med {
  padding-top: 3rem;
}

/* .wordbg{
    text-shadow: 
        -1px -1px 0px rgba(255, 255, 255, 0.512),
         0px -1px 0px rgba(255, 255, 255, 0.539),
         1px -1px 0px rgba(255, 255, 255, 0.533),
        -1px  0px 0px rgba(255, 255, 255, 0.534),
         1px  0px 0px rgba(255, 255, 255, 0.514),
        -1px  1px 0px rgba(255, 255, 255, 0.525),
         0px  1px 0px rgba(255, 255, 255, 0.528),
         1px  1px 0px rgba(255, 255, 255, 0.532);

} */

.carousel-control-next-icon {
  border-radius: .9ch;
  background-color: rgba(0, 0, 0, 0.444);
}

.carousel-control-prev-icon {
  border-radius: .9ch;
  background-color: rgba(0, 0, 0, 0.454);
}

.accordion-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.608);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgba(0, 0, 0, 0.753);
}

.accordion-button::after {
  color: white;
  border-radius: 1.9ch;
  background-color: rgba(255, 255, 255, 0.539);
}

.accordion-button:not(.collapsed)::after {
  color: white;
  background-color: rgba(255, 255, 255, 0.412);
}

